<section class="festival-resources">
    <div class="festival-resources__container container">
        
        <!-- Section 1: FESTIVAL MAP -->
        <div class="resource-block">
            <h2 class="resource-block__title">Festival Map</h2>
            <div class="resource-block__media">
                <!-- TODO: Add image assets/images/good-to-know/festival-map.avif -->
                <img class="resource-block__image" src="assets/images/info/festival-map2.jpg" alt="Ballymaloe Festival of Food Grounds Map">
            </div>
            <div class="resource-block__action">
                <a class="resource-block__button" href="assets/images/info/festival-map2.jpg" target="_blank" rel="noopener noreferrer">
                    See Bigger Map
                </a>
            </div>
        </div>

        <hr class="festival-resources__divider">

        <!-- Section 2: SCHEDULE PLANNER -->
        <div class="resource-block">
            <h2 class="resource-block__title">Schedule Planner</h2>
            <div class="resource-block__media">
                <!-- TODO: Add image assets/images/good-to-know/schedule-planner.avif -->
                <img class="resource-block__image" src="assets/images/info/schedule-planner.jpg" alt="Ballymaloe Festival of Food Schedule Planner Sheet">
            </div>
            <div class="resource-block__action">
                <a class="resource-block__button" href="assets/images/info/schedule-planner.jpg" target="_blank" rel="noopener noreferrer">
                    Open Bigger Schedule
                </a>
            </div>
        </div>

    </div>
</section>
