<section class="getting-here">
    <div class="getting-here__container container">
        <div class="getting-here__layout">

            <div class="getting-here__intro">
                <h2 class="getting-here__title">How to Find Us</h2>

                <div class="getting-here__address">
                    <h3 class="getting-here__heading">Address</h3>
                    <p class="getting-here__address-text">
                        <strong>Ballymaloe Grainstore</strong><br>
                        At Ballymaloe House Hotel<br>
                        Shanagarry<br>
                        Co. Cork P25FH67
                    </p>
                </div>

                <div class="getting-here__times">
                    <h3 class="getting-here__heading">Opening Times:</h3>
                    <ul class="getting-here__times-list">
                        <li>Friday: 4.30 pm - Late</li>
                        <li>Saturday: 9.30am - Late</li>
                        <li>Sunday: 9.30am - 6.00pm</li>
                    </ul>
                </div>
            </div>

            <div class="getting-here__map">
                <!-- TODO: Add image assets/images/good-to-know/directions-map.avif -->
                <img class="getting-here__map-image" src="assets/images/info/directions-map.png"
                    alt="Map and directions to Ballymaloe Grainstore">
            </div>

            <div class="getting-here__driving">
                <h3 class="getting-here__section-title">Driving Times:</h3>

                <p class="getting-here__driving-highlights">
                    <strong>Midleton:</strong> 15 min
                    <span>|</span>
                    <strong>Cork City:</strong> 35 min
                    <span>|</span>
                    <strong>Dublin:</strong> 2h 30 min
                    <span>|</span>
                    <strong>Ballycotton:</strong> 10 min
                </p>

                <ul class="getting-here__bullets">
                    <li>15 minutes from Midleton and Midleton train station</li>
                    <li>45 minutes from Cork Airport</li>
                    <li>35 minutes from Cork City and Kent Train Station</li>
                    <li>2 hours and 30 minutes from Dublin Airport, traveling on M50</li>
                    <li>2 hours and 30 minutes from Rosslare Ferry</li>
                    <li>2 hours and 30 minutes from Shannon Airport</li>
                    <li>10 minutes from Castlemartyr village</li>
                    <li>5 minutes from Ballymaloe Cookery School</li>
                </ul>
            </div>

            <div class="getting-here__shuttle">
                <h3 class="getting-here__section-title">Shuttle Bus:</h3>

                <p class="getting-here__shuttle-desc">
                    We’ll have shuttle buses running to and from the festival grounds
                    from Midleton and Ballycotton throughout the weekend.
                </p>

                <h4 class="getting-here__timetable-title">Timetable:</h4>

                <p class="getting-here__timetable-note">
                    See the Full Shuttle Bus Timetable below
                </p>

                <a class="getting-here__button" href="#shuttle-timetable">
                    Bus Timetable
                </a>
            </div>

        </div>
    </div>
</section>