<header class="site-header">
    <div class="site-header__container">

        <a
            class="site-header__logo"
            href="./index.html"
        >
            <img
                src="./assets/images/common/logo.png"
                alt="Chinese Culture Festival"
            >
        </a>

        <div class="site-header__actions">

            <button type="button" aria-label="Search">
                <i class="fa fa-search"></i>
            </button>

            <button type="button" aria-label="Share">
                <i class="fa fa-share-alt"></i>
            </button>

            <a href="#" aria-label="Facebook">
                <i class="fa fa-facebook"></i>
            </a>

            <a href="#" aria-label="Instagram">
                <i class="fa fa-instagram"></i>
            </a>

            <a href="#" aria-label="YouTube">
                <i class="fa fa-youtube-play"></i>
            </a>

            <div class="site-header__languages">
                <a class="active" href="#">EN</a>
                <a href="#">繁</a>
                <a href="#">简</a>
            </div>

            <button
                class="site-header__menu-toggle"
                type="button"
                aria-label="Open menu"
                aria-expanded="false"
                data-menu-open
            >
                <i class="fa fa-bars"></i>
            </button>

        </div>
    </div>
</header>
