<section class="detail-hero">

    <div class="detail-hero__media" data-detail-hero-media>
        <img src="" alt="" class="detail-hero__image" data-detail-hero-img style="display: none;">
    </div>

    <div class="detail-hero__container">

        <div class="detail-hero__breadcrumb">
            <a href="?page=programme-genre&genre=chinese-opera" class="detail-hero__back-link" data-detail-back-link>
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back <span data-detail-genre-name>Chinese Opera</span>
            </a>
        </div>

    </div>

</section>
