<section class="genre-filter">

    <div class="genre-filter__container">

        <nav class="genre-filter__tabs" aria-label="Genre Navigation">
            <a href="?page=programme-genre&genre=music" class="genre-filter__tab" data-genre-tab="music">Music</a>
            <a href="?page=programme-genre&genre=dance" class="genre-filter__tab" data-genre-tab="dance">Dance</a>
            <a href="?page=programme-genre&genre=chinese-opera" class="genre-filter__tab" data-genre-tab="chinese-opera">Chinese Opera</a>
            <a href="?page=programme-genre&genre=theatre" class="genre-filter__tab" data-genre-tab="theatre">Theatre</a>
            <a href="?page=programme-genre&genre=multi-arts" class="genre-filter__tab" data-genre-tab="multi-arts">Multi-arts</a>
            <a href="?page=programme-genre&genre=films" class="genre-filter__tab" data-genre-tab="films">Films</a>
            <a href="?page=programme-genre&genre=others" class="genre-filter__tab" data-genre-tab="others">Others</a>
        </nav>

        <div class="genre-filter__bar">
            <div class="genre-filter__status">
                Showing <strong data-genre-count>0</strong> programmes
            </div>

            <div class="genre-filter__search-wrap">
                <input type="text" class="genre-filter__search-input" id="genre-search-input" placeholder="Search in this genre...">
                <i class="fa fa-search genre-filter__search-icon" aria-hidden="true"></i>
            </div>
        </div>

    </div>

</section>
