<article class="genre-card">
    <div class="genre-card__image-wrap">
        <img src="" alt="" class="genre-card__image" data-card-img>
        <span class="genre-card__badge" data-card-status></span>
    </div>

    <div class="genre-card__content">
        <div class="genre-card__date" data-card-date></div>

        <h3 class="genre-card__title" data-card-title></h3>

        <p class="genre-card__organizer" data-card-organizer></p>

        <p class="genre-card__venue" data-card-venue>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span data-card-venue-text></span>
        </p>

        <a href="./index.html?page=programme-detail&id=hebei-bangzi-opera" class="genre-card__link">
            View Details <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</article>
