<section class="about-festival">
    <div class="about-festival__container">

        <div class="about-festival__visual">

            <video class="about-festival__artwork" autoplay loop muted playsinline>
                <source
                    src="https://res.cloudinary.com/jg5xjcoi/video/upload/v1784528854/about-festival-artwork_xfxvio.webm"
                    type="video/webm">
            </video>
        </div>

        <div class="about-festival__content">
            <h2 class="about-festival__title">
                About Chinese Culture Festival
            </h2>

            <p class="about-festival__description">
                The Festival brings a rich and colourful array of
                programmes, including finely selected Chinese operas
                from the LCSD’s signature programme ‘Chinese Opera
                Festival’ and outstanding local works recognised by the
                China National Arts Fund. Various local arts and cultural
                organisations will join hands to contribute a variety of
                first-rate programmes for the Festival, including music,
                dance, multi-arts, drama, films, exhibitions, lectures,
                artist talks and master classes.
            </p>

            <a class="about-festival__button" href="./pages/about.html">
                Know More
            </a>
        </div>

    </div>
</section>