<section class="programme-highlights" id="programme-highlights">
    <div class="programme-highlights__decor programme-highlights__decor--left"></div>

    <div class="programme-highlights__container">

        <h2 class="programme-highlights__heading">
            Programme Highlights
        </h2>

        <article class="programme-feature programme-feature--first">

            <div class="programme-feature__media">
                <img src="./assets/images/home/programme-opera.webp" alt="Luoyang Yu Opera Troupe">
            </div>

            <div class="programme-feature__content">

                <span class="programme-feature__category programme-feature__category--opera">
                    <span aria-hidden="true">❖</span>
                    Chinese Opera
                </span>

                <h3 class="programme-feature__title">
                    Luoyang Yu Opera Troupe
                </h3>

                <p class="programme-feature__location">
                    Auditorium, Ko Shan Theatre New Wing
                </p>

                <a class="programme-feature__button" href="#">
                    Know More
                </a>

            </div>

        </article>

        <article class="programme-feature programme-feature--second">

            <div class="programme-feature__content">

                <span class="programme-feature__category programme-feature__category--multi">
                    <span aria-hidden="true">✺</span>
                    Multi-Arts
                </span>

                <h3 class="programme-feature__title">
                    Acrobatic Drama
                    <em>
                        Acrobatic Spectacle of Ancient Tang
                    </em>
                </h3>

                <p class="programme-feature__location">
                    Incubator 1, East Kowloon Cultural Centre,
                    The Hall, East Kowloon Cultural Centre
                </p>

                <a class="programme-feature__button" href="#">
                    Know More
                </a>

            </div>

            <div class="programme-feature__media">
                <img src="./assets/images/home/programme-acrobatic.webp" alt="Acrobatic Spectacle of Ancient Tang">
            </div>

        </article>

    </div>

    <div class="programme-highlights__decor programme-highlights__decor--middle"></div>
</section>

<!-- Recent programme will be implemented later -->