<section class="home-hero" id="home-hero">
    <div class="home-hero__media">
        <iframe id="home-hero-video" class="home-hero__video"
            src="https://www.youtube.com/embed/DghHAiymhAM?start=90&autoplay=1&mute=1&controls=1&loop=1&playlist=DghHAiymhAM&playsinline=1&rel=0&modestbranding=1"
            title="Chinese Culture Festival" allow="autoplay; encrypted-media; picture-in-picture; fullscreen"
            allowfullscreen></iframe>
    </div>

    <div class="home-hero__overlay"></div>
</section>