<section class="partners">
    <div class="organisation-strip">
        <div class="organisation-strip__container">
            <div class="organisation-group">
                <span class="organisation-group__label">Presented by</span>
                <div class="organisation-group__logos">
                    <!-- TODO: Add media file here -->
                    <img src="./assets/images/home/presented-by-logo.webp" alt="Presented by organisation">
                </div>
            </div>

            <div class="organisation-group">
                <span class="organisation-group__label">Organised by</span>
                <div class="organisation-group__logos">
                    <!-- TODO: Add media file here -->
                    <img src="./assets/images/home/organised-by-logo-1.webp"
                        alt="Leisure and Cultural Services Department">
                    <!-- TODO: Add media file here -->
                    <img src="./assets/images/home/organised-by-logo-2.webp" alt="Chinese Culture Promotion Office">
                </div>
            </div>
        </div>
    </div>
</section>