<section class="feature-cards">
    <div class="feature-cards__container">

        <a class="feature-card" href="#">
            <div class="feature-card__image-wrap">
                <img class="feature-card__image" src="./assets/images/home/whats-on.avif" alt="What's On">
            </div>

            <h3 class="feature-card__title">
                What's On
            </h3>
        </a>

        <a class="feature-card" href="#">
            <div class="feature-card__image-wrap">
                <img class="feature-card__image" src="./assets/images/home/about-bff.avif"
                    alt="About Ballymaloe Festival of Food">
            </div>

            <h3 class="feature-card__title">
                About BFF
            </h3>
        </a>

        <a class="feature-card" href="#">
            <div class="feature-card__image-wrap">
                <img class="feature-card__image" src="./assets/images/home/food-drink.avif" alt="Food and Drink">
            </div>

            <h3 class="feature-card__title">
                Food &amp; Drink
            </h3>
        </a>

        <a class="feature-card" href="#">
            <div class="feature-card__image-wrap">
                <img class="feature-card__image" src="./assets/images/home/festival-market.avif" alt="Festival Market">
            </div>

            <h3 class="feature-card__title">
                Festival Market
            </h3>
        </a>

    </div>
</section>