<section class="recipes-banner">
    <div class="recipes-banner__background">
        <img class="recipes-banner__image" src="./assets/images/home/recipes-banner.avif"
            alt="Fresh oysters and festival ingredients">
    </div>

    <div class="recipes-banner__overlay"></div>

    <div class="recipes-marquee" aria-hidden="true">
        <div class="marquee-horizontal">
            <div class="marquee-content-block-item">
                <span class="marquee-text">
                    ipes
                </span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text marquee-text--solid">
                    Recipes
                </span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">
                    Recipes
                </span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">
                    Recipes
                </span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">
                    Recipes
                </span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">
                    Recipes
                </span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">
                    Recipes
                </span>
            </div>
        </div>
    </div>

    <div class="recipes-banner__content">
        <p class="recipes-banner__description">
            Festival flavours to cook, share and enjoy at home!
        </p>

        <a class="recipes-banner__button" href="#">
            Recipes from all the BFF demonstrations
        </a>
    </div>
</section>