<section class="tickets-banner">
    <div class="tickets-banner__background">
        <img class="tickets-banner__image" src="./assets/images/home/tickets-banner.avif"
            alt="Visitors at Ballymaloe Festival of Food">
    </div>

    <div class="tickets-banner__overlay"></div>

    <div class="tickets-marquee" aria-hidden="true">
        <div class="marquee-horizontal">

            <div class="marquee-content-block-item">
                <span class="marquee-text">cts</span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text marquee-text--solid">
                    Tickets
                </span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">Tickets</span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">Tickets</span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">Tickets</span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">Tickets</span>
            </div>

            <div class="marquee-content-block-item">
                <span class="marquee-text">Tickets</span>
            </div>
        </div>
    </div>

    <div class="tickets-banner__content">
        <p class="tickets-banner__description">
            Secure your place at the Ballymaloe Festival of Food 2027
            December 1st
        </p>

        <a class="tickets-banner__button" href="#">
            Tickets on sale December 1st
        </a>
    </div>
</section>